@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
body {
  background-color: #131518;
}

.header {
  margin: 190px auto;
  width: 412px;
  border-radius: 30px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  background-color: white;
  padding-top: 32px;
}
.header .img-STAR {
  width: 48px;
  height: 48px;
  background-color: #262E38;
  border-radius: 100%;
  margin-left: 32px;
}
.header .img-STAR img {
  margin: 16px;
}
.header .word h1 {
  color: var(--pure-white, #FFF);
  font-family: Overpass;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 30px 0 0 32px;
}
.header .word p {
  color: var(--light-grey, #969FAD);
  font-family: Overpass;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 340px;
  margin: 7px 0 0 32px;
}
.header .Numbers {
  display: flex;
  margin: 24px 0 0 11px;
}
.header .sonlar .son {
  width: 51px;
  height: 51px;
  background-color: #262E38;
  border-radius: 100%;
  margin-left: 21px;
  transition: 0.5s;
}
.header .sonlar .son p {
  color: var(--medium-gray, #7C8798);
  text-align: center;
  font-family: Overpass;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.header button {
  border-radius: 22.5px;
  width: 341px;
  height: 45px;
  background-color: #FC7614;
  outline: none;
  border: none;
  margin: 32px 0 32px 32px;
  transition: 0.5s;
}
.header button a {
  color: #FFF;
  font-family: Overpass;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-decoration: none;
}

.header .Numbers .number:hover {
  background-color: #FC7614;
}
.header .Numbers .number:hover p {
  color: #fff;
}

.header button:hover {
  background-color: #FFF;
}
.header button:hover a {
  color: #FC7614;
}

@media (max-width: 430px) {
  .header {
    width: 327px;
    margin: 154px auto;
    padding-top: 24px;
  }
  .header .img-STAR {
    width: 40px;
    height: 40px;
    margin-left: 24px;
  }
  .header .img-STAR img {
    margin: 12px;
  }
  .header .word h1 {
    font-size: 24px;
    margin: 16px 0 0 24px;
  }
  .header .word p {
    font-size: 14px;
    line-height: 22px;
    width: 279px;
    margin: 10px 0 0 24px;
  }
  .header .Numbers {
    margin-left: -2px;
  }
  .header .Numbers .number {
    width: 42px;
    height: 42px;
    transition: 0.5s;
  }
  .header .Numbers .number p {
    margin: 10px 0 0 0;
  }
  .header button {
    width: 297px;
    margin: 24px 0 32px 20px;
  }
}
.header .Numbers .number:hover {
  background-color: #FC7614;
}
.header .Numbers p {
  color: #fff;
}